.top {
  background-color: #EAF6F6;
  height: 900px;
}

body {
  margin: 0px;
  text-align: center;
  color: #40514E;
}
h1 {
  margin-top: 0px;
  color: #24A19C;
  font-weight: normal;
}

.bottom {
  height: 100px;
  margin: none;
  background-color: #9AD0EC;
  margin-top: 20px;
  position: relative;
  top: 10px;
  padding: 50px 0 20px;
}

.middle {
  margin: 100px 0;
}

#first-cloud {
  height: 130px;
  position: relative;
  right: 35px;
  top: 300px;

}

#second-cloud {
  position: relative;
  top: 160px;
  height: 120px;
}

#mountain {
  position: relative;
  top: 200px;
  right:40px;
  height: 350px;
}

.first-paragraph {
  display: inline-block;
  position: relative;
  top: 206px;
  right: 200px;
  color: #24A19C;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

.name {
  display: inline-block;
  position:relative;
  top: 150px;
  left: 70px;
  color: #24A19C;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #24A19C;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #24A19C;
}

.me {
  height: 150px;
}

.dev {
  width: 45%;
  border-radius: 80%;
}

hr {
  height: 0px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 5%;
}

.python {
  height: 100px;
  border-radius: 100%;
  float: left;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}

.skills{
  width: 50%;
  position: relative;
  left: 336px;
}
.btn {
  background: #24A19C;
  background-image: -webkit-linear-gradient(top, #24A19C, #00ffaa);
  background-image: -moz-linear-gradient(top, #24A19C, #00ffaa);
  background-image: -ms-linear-gradient(top, #24A19C, #00ffaa);
  background-image: -o-linear-gradient(top, #24A19C, #00ffaa);
  background-image: linear-gradient(to bottom, #24A19C, #00ffaa);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #09523a;
  text-decoration: none;
}
.intro{
  width: 30%;
  margin:auto;
}
p{
  line-height: 2;
}
.line{
  position: relative;
  right: 50px;
}
.message{
  width: 40%;
  margin: auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 12px;
  padding: 20px;
}
